:root {
  --color1: #9bc995ff;
  --color2: #98b9abff;
  --color3: #5171a5ff;
  --color4: #3f3047ff;
  --color5: #eef36aff;
}

.detail-container {
  margin-top: 200px;
  background-color: var(--color5);
  border: 2px solid var(--color4);
  border-radius: 10px;
  width: 600px;
  height: 450px;
  padding: 10px;
}

header {
  position: fixed;
  border-bottom: 2px solid var(--color4);
  background-color: var(--color1);
  top: 0;
  width: 100%;
  padding: 10;
  text-align: center;
}

footer {
  position: fixed;
  border-bottom: 2px solid var(--color4);
  background-color: var(--color1);
  bottom: 0;
  width: 100%;
  padding: 10;
  text-align: center;
}

body {
  margin-top: 100px;
  background-color: var(--color2);
}

.destination-container {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.destination-option {
  background-color: var(--color3);
  border: 2px solid var(--color4);
  border-radius: 10px;
  width: 200px;
  height: 150px;
  padding: 10px;
}

.destination-option:hover {
  background-color: var(--color5);
}

.body-container {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}